/* Remove Defaults */
body {
    margin: 0;
    padding: 0;
}

div {
    /*border: 1px solid black;*/
}

/* Common Classes */
.horizontal-link {
    display: inline;
    padding-right: 1.5em;
}

.gutter-wrapper {
    display: grid;
    grid-template-columns: 0.2fr 0.6fr 0.2fr;
    grid-row-gap: 1em;
}

.gutter-wrapper-small {
    display: grid;
    grid-template-columns: 0.25fr 0.5fr 0.25fr;
    grid-row-gap: 1em;
}

.gutter-content {
    grid-column: 2;
}

.ubuntu-text {
    font-family: 'Ubuntu', sans-serif;
}

.white-text {
    color: white;
}

.center-text {
    text-align: center;
}

.max-width-full {
    max-height: 100%;
}

.grid-self-center {
    align-self: center;
}

/* Wrapper CSS */
.wrapper {
    display: grid;
    grid-column-gap: 1em;
    grid-template-columns: 1fr;
    grid-row-gap: 1em;
}

/* Nav CSS */
.nav {
    /* background: rgba(148, 142, 142, 0.801); */
    height: 60px;
    display: grid;
    /* width: 100%; */
    grid-template-columns: 2em 1fr 0.7fr 2em;
    position: static;
}

.nav-logo-wrapper {
    grid-column-start: 2;
    align-self: center;
    max-height: 100%;
}

.nav-logo {
    max-height: 80%;
}

.nav-links {
    grid-column-start: 3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: end;
    align-items: center;
    justify-items: stretch;
}

.nav-links div {
    text-align: center;
}

/* Intro CSS */
.intro {
    height: 500px;
    background: url('../assets/ottawa-skyline.jpg');
    /*filter: grayscale(100%);*/
    grid-template-rows: 0.7fr 0.3fr;
    grid-row-gap: 3em;
}

.intro-title {
    font-size: 4em;
    grid-row: 1;
}

.intro-links {
    display: grid;
    grid-template-columns: repeat(4, 0.25fr);
}

.intro-links div {
    height: 5em;
    min-width: 80px;
}

.intro-links-wrapper {
    grid-row-gap: 0;
    grid-row: 2;
    padding-bottom: 3em;
}
