/** Defaults **/
* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

/** Break Sizes **/
$break-large: 1008px;
$break-medium: 1007px;
$break-small: 673px;

/** Colours **/
$default-red: rgb(255,36,36);

/** Gutter **/
.gutter-wrapper {
    display: grid;

    @media screen and (min-width: $break-large){
        grid-template-columns: 1fr 3fr 1fr;
    }

    @media screen and (max-width: $break-medium){
        grid-template-columns: 2px 6fr 2px;
    }

    @media screen and (max-width: $break-small) {
        grid-template-columns: 2px auto 2px;
    }
}

.gutter-content {
    grid-column: 2;
}

/** Text Defaults **/

.roboto-text {
    font-family: 'Roboto', sans-seif;
}

.white-text {
    color: rgba(0,0,0,1);
}

.center-text {
    text-align: center;
}

/** Text Size Defaults **/
p, a { font-size: 16px; }

@media screen and (min-width: $break-large){
    p, a {
        line-height: 1.375em;
    }
    h1 {
        font-size: 48px;
        line-height: 1.05em;
    }
    h2  {
        font-size: 36px;
        line-height: 1.25em;
    }
    h3 {
        font-size: 28px;
        line-height: 1.25em;
    }
}

@media screen and (max-width: $break-medium){
    p, a {
        line-height: 1.375em;
    }
    h1 {
        font-size: 40px;
        line-height: 1.125em;
    }
    h2  {
        font-size: 32px;
        line-height: 1.25em;
    }
    h3 {
        font-size: 24px;
        line-height: 1.25em;
    }
}

@media screen and (max-width: $break-small) {
    p, a {
        line-height: 1.25em;
    }
    h1 {
        font-size: 32px;
        line-height: 1.25em;
    }
    h2  {
        font-size: 26px;
        line-height: 1.15em;
    }
    h3 {
        font-size: 22px;
        line-height: 1.15em;
    }
}



/** Links **/

.bottom-border-hover::after {
    content: '';
    display: block;
    border-bottom: 2px solid $default-red;
    width: 0;
    right: 50%;
    top: 1.3em;
    position: absolute;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

.bottom-border-hover::before {
    content: '';
    display: block;
    border-bottom: 2px solid $default-red;
    width: 0;
    left: 50%;
    top: 1.3em;
    position: absolute;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

.bottom-border-hover:hover::after, .bottom-border-hover:hover::before {
    width: 50%;
}

.inline-link {
    text-decoration: none;
    color: rgba(0,0,0,0.7);
}

.inline-link:hover {
    transition: 0.4s ease;
    // color: rgba(0,0,0,1);
    background-color: rgba($default-red, 0.2);
    border-radius: 15%;
}

.div-link {
    text-decoration: none;
    color: inherit;
}

/**  Section Classes **/

.section-header {
    justify-self: center;
    text-align: center;
    width: auto;
}

.section-header::after {
    content: '';
    display: block;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    width: 150%;
    left: -25%;
    top: 0.5em;
    position: relative;
}

.section-padding-small {
    margin-top: 30px;
}

.section-padding-large {
    margin-top: 90px;
}