/** Footer **/
.footer {
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    grid-column: 1 / 4;
    background-color: #f0e0e0;
}

.footer__content {
    display: grid;
    justify-items: center;
}
