/* Intro CSS */
.intro {
    height: 500px;
    grid-column: 1 / 4;
    display: grid;
    grid-template-rows: 1fr 1fr;
    overflow: hidden;
}

.intro::before {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
    filter:  blur(5px);
    background: linear-gradient(rgba(255,69,0,0.4), rgba(255,69,0,0.4)), url('../assets/ottawa-skyline.jpg');
    top: 0;
    height: inherit;
    width: 100%;
    content: "";
    background-size: cover;
    position: relative;
    z-index: -1;
    transform: scale(1.03);
}

.intro::after {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
    position: relative;
    z-index: 0;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0) 0, #fff 100%);
    width: 100%;
    content: "";
    height: 75%;
    top: 25%;
}

.intro-blurb {
    padding-top: 2em;
    font-size: calc(0.9em + 1vmin);
    grid-row: 1;
    padding-left: 2em;
    padding-right: 2em;
    position: relative;
    z-index: 1;
}

.intro-title {
    margin-bottom: 0;
    padding-bottom : 0;
}

.intro-title::after {
    content: "";
    position: relative;
    display: block;
    margin: auto;
    border-bottom: 0.8px solid rgba(0,0,0,0.8);
    width: 18em;
    top: 0.4em;
    margin-bottom: 15px;
}

.intro-subtitle {
    margin-top: 0;
    font-size: calc(0.55em + 1vmin);
    color: rgba(0,0,0,0.7);
}

.intro-links-wrapper {
    grid-row: 2;
}

.intro-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}

.intro-links img {
    position: relative;
    z-index: 1;
    max-width: 40%;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
}

.intro-links img:hover {
    transform: scale(1.3);
}