/* Nav CSS */
.nav {
    height: 80px;
    display: grid;
    grid-template-columns: 2em auto 2em;
    position: sticky;
    background: white;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.6);
    z-index: 2;
    top: -1px;
    transition: all ease-in-out 0.4s;

    @media screen and (max-width: $break-small) {
        grid-template-columns: 0 auto 0;
    }
}

.nav-header {
    height: 150px;
    position: relative;
    display: grid;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
    width: 100%;
}

.nav-header__link {
    align-self: center;
    justify-self: center;
    max-width: 120px;
}

.nav-header__image {
    max-width: 120px;
    border-radius: 50%;
}

.nav__logo {
    grid-row: 1;
    justify-self: start;
    align-self: center;
}

.nav__home {
    transform: rotate(-90deg);
    transition: all ease-in-out 0.3s;
    display: none;
}

.nav__home:hover {
    transform: scale(1.2) rotate(-90deg);
}

.nav__links {
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr repeat(5, auto) 1fr;
    justify-content: center;
    align-items: center;
    grid-column-gap: 30px;
    @media screen and (max-width: $break-small) {
        grid-template-columns: 0 repeat(4, auto);
        grid-column-gap: 0;
    }
}

.nav__links--link {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 500;
    font-size: 1.25em;

    @media (max-width: $break-small) {
        font-size: 1.15em;
        margin-right: 15px;
    }

}

.nav__links--link:hover {
    color: $default-red;
}