/** Featured Projects **/
.featured-projects-wrapper {
    display: grid;
    grid-template-areas:
        "header header"
        "project-1 project-2"
        "project-3 project-4";
    grid-gap: 1em 1em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);

    @media screen and (max-width: $break-small) {
        grid-template-areas:
            "header"
            "project-1"
            "project-2"
            "project-3"
            "project-4";
        grid-template-columns: auto;
        grid-template-rows: auto repeat(4, 1fr);
    }
}

.project-card {
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.3);
    transition: 0.3s ease;
    overflow: hidden;
    display: grid;
    grid-template-rows: 250px auto auto;
}

.project-image-link {
    overflow: hidden;
    grid-row: 1;
    display: inline-block;
    text-align: center;
}

.project-card-image {
    transition: 0.3s ease;
    height: 250px;
    overflow-y: hidden;
}

.image-stretch {
    width: 100%;
}

.project-card-text {
    padding: 10px 10px 0 20px;
    grid-row: 2;
    align-self: start;
}

.project-card-text p:last-of-type {
    margin-bottom: 0;
}

.project-card:hover {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.3);
}

.project-card:hover .project-card-image {
    transform: scale(1.1);

}

.project-card:hover .project-card-arrow {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    fill: red;
}

.project-card-arrow {
    transition: all 0.5s ease-out;
}

.project-card-arrow-wrapper {
    margin: 15px;
    justify-self: end;
    grid-row: 3;
    align-self: end;
}
